*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    font-optical-sizing: auto;
    transition: .2s linear;
}

:root{
    --bg: #DEF7FF;
    --menu: linear-gradient(#DEF7FF, #4CB1FB 60%);
    --top-bot: #1D3240;
    --color1: #fff;
}
/*
Para um talvez uso futuro:

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
*/
body{
    background-color: var(--bg);
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
}
.navbar{
    position: absolute;
    top: 64px;
    left: -100%;
    background: var(--menu);
    width: 13rem;
    height: calc(100vh - 9.5rem);
}

.active{
    left: 0%;
}

.navbar a{
    display: block;
    margin: 1.5rem;
}

nav > div{
    display: inline-grid;
    cursor: pointer;
    justify-content: space-between;
}

#logo-menu > img{
    width: 60px;
}

div#logo > img{
    width: 150px;
}

.logo{
    border-radius: 75%;
}

.noticia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

img {
    max-width: 300px;
}

header, footer{
    background-color: var(--top-bot);
}

header, header > div > a, header > div > button, footer, footer > a > i, footer > a{
    background-color: var(--top-bot);
    color: var(--color1);
}
