*{
    transition: .2s linear;
    padding: 0px;
    margin: 0px;
}

div#logo > img{
    border-radius: 75%;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

img {
    max-width: 300px;
}

footer, footer > a > i, footer > a{
    color: #fff;
    background-color: black;
}

.noticia-1 {

    

}

